<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Primeira Página HTML</title>
</head>
<body>
    <div>
        <h1><a href="/">Blog Django Girls</a></h1>
    </div>
    <div>
        <p>Publicado em 02/11/2021 às 00:12</p>
        <h2><a href="">Meu Primeiro Post</a></h2>
        <p>Sonim Sinclim Flenem</p>
    </div>
    <div>
        <p>Publicado em 02/11/2021 às 00:14</p>
        <h2><a href="">Meu Segundo Post</a></h2>
        <p>Sonim Sinclim Flenem</p>
    </div>
</body>
</html>